## Second Notebook Dealing with Intraday Demand

# Was having issues with the merge on the forecastdemand data - looks like there were duplciates in the original DF that was causing issues.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.base import clone
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.neural_network import MLPRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder

from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor

Duplicate key in file '/Users/joshuaevans/.matplotlib/matplotlibrc' line #2.

ModuleNotFoundError: No module named 'tensorflow'

# Import the DFs

In [3]:
forecastdemand_vic = pd.read_csv("../data/Australia/a/forecastdemand_vic.csv")
forecastdemand_sa = pd.read_csv("../data/Australia/b/forecastdemand_sa.csv")
forecastdemand_qld = pd.read_csv("../data/Australia/c/forecastdemand_qld.csv")
temperature_qld = pd.read_csv("../data/Australia/d/temprature_qld.csv")  # There's a typo in 'temperature' in the file path
temperature_sa = pd.read_csv("../data/Australia/d/temprature_sa.csv")  # Same typo as above
temperature_vic = pd.read_csv("../data/Australia/d/temprature_vic.csv")  # Same typo as above
totaldemand_qld = pd.read_csv("../data/Australia/d/totaldemand_qld.csv")
totaldemand_sa = pd.read_csv("../data/Australia/d/totaldemand_sa.csv")
totaldemand_vic = pd.read_csv("../data/Australia/d/totaldemand_vic.csv")

In [38]:
dataframes = [forecastdemand_qld, forecastdemand_vic, totaldemand_sa, totaldemand_qld, temperature_vic, temperature_sa, temperature_qld, totaldemand_vic]

for df in dataframes:
    df['DATETIME'] = pd.to_datetime(df['DATETIME'])

for df in dataframes:
    print(df.head())

<ipython-input-38-1868340a0ddf>:4: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['DATETIME'] = pd.to_datetime(df['DATETIME'])

   PREDISPATCHSEQNO REGIONID  PERIODID  FORECASTDEMAND          LASTCHANGED  \
0        2016123018     QLD1        71         6425.36  2016-12-30 12:31:25
1        2016123018     QLD1        72         6193.34  2016-12-30 12:31:25
2        2016123018     QLD1        73         6016.45  2016-12-30 12:31:25
3        2016123018     QLD1        74         5859.23  2016-12-30 12:31:25
4        2016123018     QLD1        75         5767.15  2016-12-30 12:31:25

             DATETIME  YEAR  MONTH  DAY  HOUR  MINUTE
0 2017-01-01 00:00:00  2017      1    1     0       0
1 2017-01-01 00:30:00  2017      1    1     0      30
2 2017-01-01 01:00:00  2017      1    1     1       0
3 2017-01-01 01:30:00  2017      1    1     1      30
4 2017-01-01 02:00:00  2017      1    1     2       0
   PREDISPATCHSEQNO REGIONID  PERIODID  FORECASTDEMAND          LASTCHANGED  \
0        2016123018     VIC1        71         4160.74  2016-12-30 12:31:25
1        2016123018     VIC1        72         3999.64  2016-12-30 12:31:25
2        2016123018     VIC1        73         3836.30  2016-12-30 12:31:25
3        2016123018     VIC1        74         3681.87  2016-12-30 12:31:25
4        2016123018     VIC1        75         3457.38  2016-12-30 12:31:25

             DATETIME
0 2017-01-01 00:00:00
1 2017-01-01 00:30:00
2 2017-01-01 01:00:00
3 2017-01-01 01:30:00
4 2017-01-01 02:00:00
             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:30:00      1385.23      SA1
1 2010-01-01 01:00:00      1338.53      SA1
2 2010-01-01 01:30:00      1260.39      SA1
3 2010-01-01 02:00:00      1189.31      SA1
4 2010-01-01 02:30:00      1141.12      SA1
             DATETIME  TOTALDEMAND REGIONID  YEAR  MONTH  DAY  HOUR  MINUTE
0 2010-01-01 00:00:00      5561.21     QLD1  2010      1    1     0       0
1 2010-01-01 00:30:00      5422.25     QLD1  2010      1    1     0      30
2 2010-01-01 01:00:00      5315.98     QLD1  2010      1    1     1       0
3 2010-01-01 01:30:00      5186.70     QLD1  2010      1    1     1      30
4 2010-01-01 02:00:00      5050.83     QLD1  2010      1    1     2       0
                   LOCATION            DATETIME  TEMPERATURE
0  Melbourne (Olympic Park) 2013-05-31 15:00:00         18.2
1  Melbourne (Olympic Park) 2013-05-31 15:30:00         18.3
2  Melbourne (Olympic Park) 2013-05-31 16:00:00         18.3
3  Melbourne (Olympic Park) 2013-05-31 16:30:00         18.3
4  Melbourne (Olympic Park) 2013-05-31 17:00:00         18.2
   Unnamed: 0              LOCATION            DATETIME  TEMPERATURE
0           0  Adelaide (Kent Town) 2010-01-01 00:00:00         23.6
1           1  Adelaide (Kent Town) 2010-01-01 00:30:00         23.7
2           2  Adelaide (Kent Town) 2010-01-01 01:00:00         23.5
3           3  Adelaide (Kent Town) 2010-01-01 01:30:00         22.6
4           4  Adelaide (Kent Town) 2010-01-01 02:00:00         22.0
                       LOCATION            DATETIME  TEMPERATURE  YEAR  MONTH  \
0  Brisbane Archerfield Airport 2010-01-01 00:00:00         23.6  2010      1
1  Brisbane Archerfield Airport 2010-01-01 00:30:00         23.7  2010      1
2  Brisbane Archerfield Airport 2010-01-01 01:00:00         23.5  2010      1
3  Brisbane Archerfield Airport 2010-01-01 01:30:00         22.6  2010      1
4  Brisbane Archerfield Airport 2010-01-01 02:00:00         22.0  2010      1

   DAY  HOUR  MINUTE
0    1     0       0
1    1     0      30
2    1     1       0
3    1     1      30
4    1     2       0
             DATETIME  TOTALDEMAND REGIONID
0 2010-01-01 00:00:00      5426.12     VIC1
1 2010-01-01 00:30:00      5111.02     VIC1
2 2010-01-01 01:00:00      4960.03     VIC1
3 2010-01-01 01:30:00      5283.40     VIC1
4 2010-01-01 02:00:00      5046.15     VIC1

# Convert the Datetimes to the correct format and merge to one DF for QLD

In [6]:
forecastdemand_qld['DATETIME'] = pd.to_datetime(forecastdemand_qld['DATETIME'], format="%d/%m/%Y %H:%M")
temperature_qld['DATETIME'] = pd.to_datetime(temperature_qld['DATETIME'], format="%d/%m/%Y %H:%M")
totaldemand_qld['DATETIME'] = pd.to_datetime(totaldemand_qld['DATETIME'], format="%Y-%m-%d %H:%M:%S")

merged_df_1 = pd.merge(forecastdemand_qld, temperature_qld, on='DATETIME', how='inner')
df_QLD = pd.merge(merged_df_1, totaldemand_qld, on='DATETIME', how='inner')

df_QLD['forecast_error'] = df_QLD['FORECASTDEMAND'] - df_QLD['TOTALDEMAND']
df_QLD['forecast_error_ratio'] = df_QLD['forecast_error'] / df_QLD['FORECASTDEMAND']

print(df_QLD.head(10))

   PREDISPATCHSEQNO REGIONID_x  PERIODID  FORECASTDEMAND          LASTCHANGED  \
0        2016123018       QLD1        71         6425.36  2016-12-30 12:31:25
1        2016123019       QLD1        70         6425.42  2016-12-30 13:01:33
2        2016123020       QLD1        69         6425.42  2016-12-30 13:31:24
3        2016123021       QLD1        68         6427.40  2016-12-30 14:01:21
4        2016123022       QLD1        67         6426.99  2016-12-30 14:31:22
5        2016123023       QLD1        66         6426.63  2016-12-30 15:01:26
6        2016123024       QLD1        65         6426.63  2016-12-30 15:31:28
7        2016123025       QLD1        64         6425.73  2016-12-30 16:01:13
8        2016123026       QLD1        63         6426.89  2016-12-30 16:31:13
9        2016123027       QLD1        62         6426.80  2016-12-30 17:01:13

    DATETIME                      LOCATION  TEMPERATURE  TOTALDEMAND  \
0 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
1 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
2 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
3 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
4 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
5 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
6 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
7 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
8 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99
9 2017-01-01  Brisbane Archerfield Airport         26.5      6728.99

  REGIONID_y  forecast_error  forecast_error_ratio
0       QLD1         -303.63             -0.047255
1       QLD1         -303.57             -0.047245
2       QLD1         -303.57             -0.047245
3       QLD1         -301.59             -0.046923
4       QLD1         -302.00             -0.046989
5       QLD1         -302.36             -0.047048
6       QLD1         -302.36             -0.047048
7       QLD1         -303.26             -0.047195
8       QLD1         -302.10             -0.047006
9       QLD1         -302.19             -0.047020

In [7]:
from functools import reduce
dataframes_qld = [forecastdemand_qld, totaldemand_qld, temperature_qld]
df_qld_merged = reduce(lambda left, right: pd.merge(left, right, on='DATETIME', how='inner'), dataframes_qld)
print(df_qld_merged.head())

   PREDISPATCHSEQNO REGIONID_x  PERIODID  FORECASTDEMAND          LASTCHANGED  \
0        2016123018       QLD1        71         6425.36  2016-12-30 12:31:25
1        2016123019       QLD1        70         6425.42  2016-12-30 13:01:33
2        2016123020       QLD1        69         6425.42  2016-12-30 13:31:24
3        2016123021       QLD1        68         6427.40  2016-12-30 14:01:21
4        2016123022       QLD1        67         6426.99  2016-12-30 14:31:22

    DATETIME  TOTALDEMAND REGIONID_y                      LOCATION  \
0 2017-01-01      6728.99       QLD1  Brisbane Archerfield Airport
1 2017-01-01      6728.99       QLD1  Brisbane Archerfield Airport
2 2017-01-01      6728.99       QLD1  Brisbane Archerfield Airport
3 2017-01-01      6728.99       QLD1  Brisbane Archerfield Airport
4 2017-01-01      6728.99       QLD1  Brisbane Archerfield Airport

   TEMPERATURE
0         26.5
1         26.5
2         26.5
3         26.5
4         26.5

In [8]:
dataframes_qld = [forecastdemand_qld, totaldemand_qld, temperature_qld]

for df in dataframes_qld:
    df['YEAR'] = df['DATETIME'].dt.year
    df['MONTH'] = df['DATETIME'].dt.month
    df['DAY'] = df['DATETIME'].dt.day
    df['HOUR'] = df['DATETIME'].dt.hour
    df['MINUTE'] = df['DATETIME'].dt.minute

merge_keys = ['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE']
df_qld_merged = reduce(lambda left, right: pd.merge(left, right, on=merge_keys, how='inner'), dataframes_qld)

print(df_qld_merged.head())

   PREDISPATCHSEQNO REGIONID_x  PERIODID  FORECASTDEMAND          LASTCHANGED  \
0        2016123018       QLD1        71         6425.36  2016-12-30 12:31:25
1        2016123019       QLD1        70         6425.42  2016-12-30 13:01:33
2        2016123020       QLD1        69         6425.42  2016-12-30 13:31:24
3        2016123021       QLD1        68         6427.40  2016-12-30 14:01:21
4        2016123022       QLD1        67         6426.99  2016-12-30 14:31:22

  DATETIME_x  YEAR  MONTH  DAY  HOUR  MINUTE DATETIME_y  TOTALDEMAND  \
0 2017-01-01  2017      1    1     0       0 2017-01-01      6728.99
1 2017-01-01  2017      1    1     0       0 2017-01-01      6728.99
2 2017-01-01  2017      1    1     0       0 2017-01-01      6728.99
3 2017-01-01  2017      1    1     0       0 2017-01-01      6728.99
4 2017-01-01  2017      1    1     0       0 2017-01-01      6728.99

  REGIONID_y                      LOCATION   DATETIME  TEMPERATURE
0       QLD1  Brisbane Archerfield Airport 2017-01-01         26.5
1       QLD1  Brisbane Archerfield Airport 2017-01-01         26.5
2       QLD1  Brisbane Archerfield Airport 2017-01-01         26.5
3       QLD1  Brisbane Archerfield Airport 2017-01-01         26.5
4       QLD1  Brisbane Archerfield Airport 2017-01-01         26.5

# Merge looks weird - keeps removing the time object and merging just on date - losing granularity.

In [9]:
print("Forecast Demand QLD 'DATETIME' Sample and Dtype:")
print(forecastdemand_qld['DATETIME'].head())
print(forecastdemand_qld['DATETIME'].dtype)

print("\nTemperature QLD 'DATETIME' Sample and Dtype:")
print(temperature_qld['DATETIME'].head())
print(temperature_qld['DATETIME'].dtype)

print("\nTotal Demand QLD 'DATETIME' Sample and Dtype:")
print(totaldemand_qld['DATETIME'].head())
print(totaldemand_qld['DATETIME'].dtype)

Forecast Demand QLD 'DATETIME' Sample and Dtype:
0   2017-01-01 00:00:00
1   2017-01-01 00:30:00
2   2017-01-01 01:00:00
3   2017-01-01 01:30:00
4   2017-01-01 02:00:00
Name: DATETIME, dtype: datetime64[ns]
datetime64[ns]

Temperature QLD 'DATETIME' Sample and Dtype:
0   2010-01-01 00:00:00
1   2010-01-01 00:30:00
2   2010-01-01 01:00:00
3   2010-01-01 01:30:00
4   2010-01-01 02:00:00
Name: DATETIME, dtype: datetime64[ns]
datetime64[ns]

Total Demand QLD 'DATETIME' Sample and Dtype:
0   2010-01-01 00:00:00
1   2010-01-01 00:30:00
2   2010-01-01 01:00:00
3   2010-01-01 01:30:00
4   2010-01-01 02:00:00
Name: DATETIME, dtype: datetime64[ns]
datetime64[ns]

In [10]:
unique_forecastdemand = forecastdemand_qld['DATETIME'].nunique()
unique_temperature = temperature_qld['DATETIME'].nunique()
unique_totaldemand = totaldemand_qld['DATETIME'].nunique()

print(f"Unique DATETIME in forecastdemand_qld: {unique_forecastdemand}")
print(f"Unique DATETIME in temperature_qld: {unique_temperature}")
print(f"Unique DATETIME in totaldemand_qld: {unique_totaldemand}")


print(forecastdemand_qld.shape)
print(totaldemand_qld.shape)
print(temperature_qld.shape)

Unique DATETIME in forecastdemand_qld: 73833
Unique DATETIME in temperature_qld: 208085
Unique DATETIME in totaldemand_qld: 196513
(4095592, 11)
(196513, 8)
(208085, 8)

# thats the problem - theres multiple of uniquedatetimes

In [11]:
datetime_counts_forecastdemand = forecastdemand_qld['DATETIME'].value_counts()
print(datetime_counts_forecastdemand.head(10))
print("\nDistribution of DATETIME occurrence counts:")
print(datetime_counts_forecastdemand.describe())

DATETIME
2020-04-07 04:00:00    79
2020-01-30 04:00:00    79
2019-10-19 04:00:00    79
2020-07-05 04:00:00    79
2020-11-16 04:00:00    79
2018-01-22 04:00:00    79
2019-06-01 04:00:00    79
2018-12-02 04:00:00    79
2019-10-18 04:00:00    79
2020-07-04 04:00:00    79
Name: count, dtype: int64

Distribution of DATETIME occurrence counts:
count    73833.000000
mean        55.471022
std         13.871803
min         23.000000
25%         43.000000
50%         55.000000
75%         67.000000
max         79.000000
Name: count, dtype: float64

In [12]:
specific_datetime_df = forecastdemand_qld[forecastdemand_qld['DATETIME'] == '2019-08-02 04:00:00']
print(specific_datetime_df)

         PREDISPATCHSEQNO REGIONID  PERIODID  FORECASTDEMAND  \
2509378        2019073118     QLD1        79         5199.24
2509435        2019073119     QLD1        78         5196.16
2509492        2019073120     QLD1        77         5192.53
2509549        2019073121     QLD1        76         5192.46
2509606        2019073122     QLD1        75         5192.41
...                   ...      ...       ...             ...
2513466        2019080144     QLD1         5         5129.04
2513518        2019080145     QLD1         4         5121.99
2513569        2019080146     QLD1         3         5127.00
2513619        2019080147     QLD1         2         5124.00
2513668        2019080148     QLD1         1         5107.55

                 LASTCHANGED            DATETIME  YEAR  MONTH  DAY  HOUR  \
2509378  2019-07-31 12:31:29 2019-08-02 04:00:00  2019      8    2     4
2509435  2019-07-31 13:01:34 2019-08-02 04:00:00  2019      8    2     4
2509492  2019-07-31 13:31:22 2019-08-02 04:00:00  2019      8    2     4
2509549  2019-07-31 14:01:39 2019-08-02 04:00:00  2019      8    2     4
2509606  2019-07-31 14:31:26 2019-08-02 04:00:00  2019      8    2     4
...                      ...                 ...   ...    ...  ...   ...
2513466  2019-08-02 01:31:04 2019-08-02 04:00:00  2019      8    2     4
2513518  2019-08-02 02:01:02 2019-08-02 04:00:00  2019      8    2     4
2513569  2019-08-02 02:31:13 2019-08-02 04:00:00  2019      8    2     4
2513619  2019-08-02 03:01:10 2019-08-02 04:00:00  2019      8    2     4
2513668  2019-08-02 03:31:06 2019-08-02 04:00:00  2019      8    2     4

         MINUTE
2509378       0
2509435       0
2509492       0
2509549       0
2509606       0
...         ...
2513466       0
2513518       0
2513569       0
2513619       0
2513668       0

[79 rows x 11 columns]

# Drop the duplicates Randomly - need to fix this so its not random

In [13]:
forecastdemand_qld.drop_duplicates(subset='DATETIME', inplace=True)
print(forecastdemand_qld.shape)

(73833, 11)

# Create Master DF for QLD with half and hour blocks

In [47]:
dataframes_qld = [forecastdemand_qld, totaldemand_qld, temperature_qld]

for df in dataframes_qld:
    df['YEAR'] = df['DATETIME'].dt.year
    df['MONTH'] = df['DATETIME'].dt.month
    df['DAY'] = df['DATETIME'].dt.day
    df['HOUR'] = df['DATETIME'].dt.hour
    df['MINUTE'] = df['DATETIME'].dt.minute

merge_keys = ['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE']
df_qld_merged = reduce(lambda left, right: pd.merge(left, right, on=merge_keys, how='inner'), dataframes_qld)

print(df_qld_merged.head())

   PREDISPATCHSEQNO REGIONID_x  PERIODID  FORECASTDEMAND          LASTCHANGED  \
0        2016123018       QLD1        71         6425.36  2016-12-30 12:31:25
1        2016123018       QLD1        72         6193.34  2016-12-30 12:31:25
2        2016123018       QLD1        73         6016.45  2016-12-30 12:31:25
3        2016123018       QLD1        74         5859.23  2016-12-30 12:31:25
4        2016123018       QLD1        75         5767.15  2016-12-30 12:31:25

           DATETIME_x  YEAR  MONTH  DAY  HOUR  MINUTE          DATETIME_y  \
0 2017-01-01 00:00:00  2017      1    1     0       0 2017-01-01 00:00:00
1 2017-01-01 00:30:00  2017      1    1     0      30 2017-01-01 00:30:00
2 2017-01-01 01:00:00  2017      1    1     1       0 2017-01-01 01:00:00
3 2017-01-01 01:30:00  2017      1    1     1      30 2017-01-01 01:30:00
4 2017-01-01 02:00:00  2017      1    1     2       0 2017-01-01 02:00:00

   TOTALDEMAND REGIONID_y                      LOCATION            DATETIME  \
0      6728.99       QLD1  Brisbane Archerfield Airport 2017-01-01 00:00:00
1      6462.14       QLD1  Brisbane Archerfield Airport 2017-01-01 00:30:00
2      6352.82       QLD1  Brisbane Archerfield Airport 2017-01-01 01:00:00
3      6261.02       QLD1  Brisbane Archerfield Airport 2017-01-01 01:30:00
4      6169.66       QLD1  Brisbane Archerfield Airport 2017-01-01 02:00:00

   TEMPERATURE
0         26.5
1         26.3
2         26.0
3         25.2
4         25.5

In [48]:
df_qld_merged.columns

Index(['PREDISPATCHSEQNO', 'REGIONID_x', 'PERIODID', 'FORECASTDEMAND',
       'LASTCHANGED', 'DATETIME_x', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE',
       'DATETIME_y', 'TOTALDEMAND', 'REGIONID_y', 'LOCATION', 'DATETIME',
       'TEMPERATURE'],
      dtype='object')

In [49]:
df_qld_merged.drop(columns=['REGIONID_x', 'DATETIME_x'], inplace=True)
print(df_qld_merged.columns)

Index(['PREDISPATCHSEQNO', 'PERIODID', 'FORECASTDEMAND', 'LASTCHANGED', 'YEAR',
       'MONTH', 'DAY', 'HOUR', 'MINUTE', 'DATETIME_y', 'TOTALDEMAND',
       'REGIONID_y', 'LOCATION', 'DATETIME', 'TEMPERATURE'],
      dtype='object')

In [50]:
df_qld_merged

,PREDISPATCHSEQNO,PERIODID,FORECASTDEMAND,LASTCHANGED,YEAR,MONTH,DAY,HOUR,MINUTE,DATETIME_y,TOTALDEMAND,REGIONID_y,LOCATION,DATETIME,TEMPERATURE
0,2016123018,71,6425.36,2016-12-30 12:31:25,2017,1,1,0,0,2017-01-01 00:00:00,6728.99,QLD1,Brisbane Archerfield Airport,2017-01-01 00:00:00,26.5
1,2016123018,72,6193.34,2016-12-30 12:31:25,2017,1,1,0,30,2017-01-01 00:30:00,6462.14,QLD1,Brisbane Archerfield Airport,2017-01-01 00:30:00,26.3
2,2016123018,73,6016.45,2016-12-30 12:31:25,2017,1,1,1,0,2017-01-01 01:00:00,6352.82,QLD1,Brisbane Archerfield Airport,2017-01-01 01:00:00,26.0
3,2016123018,74,5859.23,2016-12-30 12:31:25,2017,1,1,1,30,2017-01-01 01:30:00,6261.02,QLD1,Brisbane Archerfield Airport,2017-01-01 01:30:00,25.2
4,2016123018,75,5767.15,2016-12-30 12:31:25,2017,1,1,2,0,2017-01-01 02:00:00,6169.66,QLD1,Brisbane Archerfield Airport,2017-01-01 02:00:00,25.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73736,2021031618,67,6662.64,2021-03-16 12:31:57,2021,3,17,22,0,2021-03-17 22:00:00,6443.62,QLD1,Brisbane Archerfield Airport,2021-03-17 22:00:00,19.6
73737,2021031618,68,6517.82,2021-03-16 12:31:57,2021,3,17,22,30,2021-03-17 22:30:00,6264.63,QLD1,Brisbane Archerfield Airport,2021-03-17 22:30:00,19.5
73738,2021031618,69,6367.07,2021-03-16 12:31:57,2021,3,17,23,0,2021-03-17 23:00:00,6144.16,QLD1,Brisbane Archerfield Airport,2021-03-17 23:00:00,19.4
73739,2021031618,70,6165.05,2021-03-16 12:31:57,2021,3,17,23,30,2021-03-17 23:30:00,5897.64,QLD1,Brisbane Archerfield Airport,2021-03-17 23:30:00,19.6
73740,2021031618,71,5966.57,2021-03-16 12:31:57,2021,3,18,0,0,2021-03-18 00:00:00,5737.03,QLD1,Brisbane Archerfield Airport,2021-03-18 00:00:00,19.5

# Add in some engineered features - Weekend (more use) and season

In [82]:
df_qld_merged['is_weekend'] = df_qld_merged['DATETIME'].dt.dayofweek >= 5

df_qld_merged['season'] = df_qld_merged['DATETIME'].dt.month % 12 // 3
df_qld_merged['season'] = df_qld_merged['season'].map({0: 'Summer', 1: 'Autumn', 2: 'Winter', 3: 'Spring'}, na_action='ignore')


australian_seasons = {
    12: 'Summer', 1: 'Summer', 2: 'Summer',
    3: 'Autumn', 4: 'Autumn', 5: 'Autumn',
    6: 'Winter', 7: 'Winter', 8: 'Winter',
    9: 'Spring', 10: 'Spring', 11: 'Spring'
    }
df_qld_merged['season'] = df_qld_merged['MONTH'].map(australian_seasons)

In [27]:
#df_qld_merged = df_qld_merged.sort_values('DATETIME')
#df_qld_merged['demand_lag1'] = df_qld_merged['TOTALDEMAND'].shift(24)
#df_qld_merged['rolling_mean_24h'] = df_qld_merged['TOTALDEMAND'].rolling(window=24).mean()

In [83]:
df_qld_merged

,PREDISPATCHSEQNO,PERIODID,FORECASTDEMAND,LASTCHANGED,YEAR,MONTH,DAY,HOUR,MINUTE,DATETIME_y,...,Error_Ratio_Lin_Reg,PREDICTED_DEMAND_NN,Error_NN,Error_Prof,Error_Ratio_Prof,Error_Ratio_NN,Cooling,Heating,is_weekend,season
0,2016123018,71,6425.36,2016-12-30 12:31:25,2017,1,1,0,0,2017-01-01 00:00:00,...,-0.040510,6443.699215,-285.290785,-303.63,-0.047255,-0.044274,2.5,0.0,True,Summer
1,2016123018,72,6193.34,2016-12-30 12:31:25,2017,1,1,0,30,2017-01-01 00:30:00,...,-0.031291,6385.279484,-76.860516,-268.80,-0.043401,-0.012037,2.3,0.0,True,Summer
2,2016123018,73,6016.45,2016-12-30 12:31:25,2017,1,1,1,0,2017-01-01 01:00:00,...,-0.023956,6119.733590,-233.086410,-336.37,-0.055908,-0.038088,2.0,0.0,True,Summer
3,2016123018,74,5859.23,2016-12-30 12:31:25,2017,1,1,1,30,2017-01-01 01:30:00,...,-0.054381,6050.194284,-210.825716,-401.79,-0.068574,-0.034846,1.2,0.0,True,Summer
4,2016123018,75,5767.15,2016-12-30 12:31:25,2017,1,1,2,0,2017-01-01 02:00:00,...,-0.038232,5830.629761,-339.030239,-402.51,-0.069794,-0.058146,1.5,0.0,True,Summer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73736,2021031618,67,6662.64,2021-03-16 12:31:57,2021,3,17,22,0,2021-03-17 22:00:00,...,0.016714,6730.312590,286.692590,219.02,0.032873,0.042597,0.0,0.4,False,Autumn
73737,2021031618,68,6517.82,2021-03-16 12:31:57,2021,3,17,22,30,2021-03-17 22:30:00,...,0.021176,6550.636123,286.006123,253.19,0.038846,0.043661,0.0,0.5,False,Autumn
73738,2021031618,69,6367.07,2021-03-16 12:31:57,2021,3,17,23,0,2021-03-17 23:00:00,...,0.021880,6490.449009,346.289009,222.91,0.035010,0.053354,0.0,0.6,False,Autumn
73739,2021031618,70,6165.05,2021-03-16 12:31:57,2021,3,17,23,30,2021-03-17 23:30:00,...,0.036953,6296.984769,399.344769,267.41,0.043375,0.063418,0.0,0.4,False,Autumn
73740,2021031618,71,5966.57,2021-03-16 12:31:57,2021,3,18,0,0,2021-03-18 00:00:00,...,-0.003213,6073.873094,336.843094,229.54,0.038471,0.055458,0.0,0.5,False,Autumn

# Add in a couple more engineered features - Cooling and heating - This is trying to predict at the current temperature in the half an hour block - do you have your aircon or heater on? Need to gridsaerch the best params for this...

In [75]:
df_qld_merged['Cooling'] = df_qld_merged['TEMPERATURE'].apply(lambda x: max(0, x - 24))

df_qld_merged['Heating'] = df_qld_merged['TEMPERATURE'].apply(lambda x: max(0, 20 - x))

print(df_qld_merged[['Cooling', 'Heating']].head())  # Displaying the first few rows to verify

   Cooling  Heating
0      2.5      0.0
1      2.3      0.0
2      2.0      0.0
3      1.2      0.0
4      1.5      0.0

In [76]:
df_qld_merged

,PREDISPATCHSEQNO,PERIODID,FORECASTDEMAND,LASTCHANGED,YEAR,MONTH,DAY,HOUR,MINUTE,DATETIME_y,...,PREDICTED_DEMAND_LIN_REG,Error_Lin_Reg,Error_Ratio_Lin_Reg,PREDICTED_DEMAND_NN,Error_NN,Error_Prof,Error_Ratio_Prof,Error_Ratio_NN,Cooling,Heating
0,2016123018,71,6425.36,2016-12-30 12:31:25,2017,1,1,0,0,2017-01-01 00:00:00,...,6467.008560,-261.981440,-0.040510,6443.699215,-285.290785,-303.63,-0.047255,-0.044274,2.5,0.0
1,2016123018,72,6193.34,2016-12-30 12:31:25,2017,1,1,0,30,2017-01-01 00:30:00,...,6266.067652,-196.072348,-0.031291,6385.279484,-76.860516,-268.80,-0.043401,-0.012037,2.3,0.0
2,2016123018,73,6016.45,2016-12-30 12:31:25,2017,1,1,1,0,2017-01-01 01:00:00,...,6204.191526,-148.628474,-0.023956,6119.733590,-233.086410,-336.37,-0.055908,-0.038088,2.0,0.0
3,2016123018,74,5859.23,2016-12-30 12:31:25,2017,1,1,1,30,2017-01-01 01:30:00,...,5938.100769,-322.919231,-0.054381,6050.194284,-210.825716,-401.79,-0.068574,-0.034846,1.2,0.0
4,2016123018,75,5767.15,2016-12-30 12:31:25,2017,1,1,2,0,2017-01-01 02:00:00,...,5942.465631,-227.194369,-0.038232,5830.629761,-339.030239,-402.51,-0.069794,-0.058146,1.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73736,2021031618,67,6662.64,2021-03-16 12:31:57,2021,3,17,22,0,2021-03-17 22:00:00,...,6553.152508,109.532508,0.016714,6730.312590,286.692590,219.02,0.032873,0.042597,0.0,0.4
73737,2021031618,68,6517.82,2021-03-16 12:31:57,2021,3,17,22,30,2021-03-17 22:30:00,...,6400.160434,135.530434,0.021176,6550.636123,286.006123,253.19,0.038846,0.043661,0.0,0.5
73738,2021031618,69,6367.07,2021-03-16 12:31:57,2021,3,17,23,0,2021-03-17 23:00:00,...,6281.601554,137.441554,0.021880,6490.449009,346.289009,222.91,0.035010,0.053354,0.0,0.6
73739,2021031618,70,6165.05,2021-03-16 12:31:57,2021,3,17,23,30,2021-03-17 23:30:00,...,6123.934845,226.294845,0.036953,6296.984769,399.344769,267.41,0.043375,0.063418,0.0,0.4
73740,2021031618,71,5966.57,2021-03-16 12:31:57,2021,3,18,0,0,2021-03-18 00:00:00,...,5718.654174,-18.375826,-0.003213,6073.873094,336.843094,229.54,0.038471,0.055458,0.0,0.5

In [37]:
df_qld_merged.columns

Index(['PREDISPATCHSEQNO', 'PERIODID', 'FORECASTDEMAND', 'LASTCHANGED', 'YEAR',
       'MONTH', 'DAY', 'HOUR', 'MINUTE', 'DATETIME_y', 'TOTALDEMAND',
       'REGIONID_y', 'LOCATION', 'DATETIME', 'TEMPERATURE', 'is_weekend',
       'season', 'Cooling', 'Heating'],
      dtype='object')

# Create base lin reg model to see how it does....

In [22]:
numerical_features = ['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'TEMPERATURE', 'Heating', 'Cooling']
categorical_features = ['season']
binary_features = ['is_weekend']  

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features),
        ('bin', 'passthrough', binary_features)
    ])

pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

X = df_qld_merged.drop(['TOTALDEMAND'], axis=1)
y = df_qld_merged['TOTALDEMAND']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 336813.52825416595
R^2 Score: 0.5788485826472984

In [55]:
entire_data_predictions = pipeline.predict(X)

df_qld_merged['PREDICTED_DEMAND_LIN_REG'] = entire_data_predictions

In [56]:
df_qld_merged

,PREDISPATCHSEQNO,PERIODID,FORECASTDEMAND,LASTCHANGED,YEAR,MONTH,DAY,HOUR,MINUTE,DATETIME_y,TOTALDEMAND,REGIONID_y,LOCATION,DATETIME,TEMPERATURE,PREDICTED_DEMAND_LIN_REG
0,2016123018,71,6425.36,2016-12-30 12:31:25,2017,1,1,0,0,2017-01-01 00:00:00,6728.99,QLD1,Brisbane Archerfield Airport,2017-01-01 00:00:00,26.5,6467.008560
1,2016123018,72,6193.34,2016-12-30 12:31:25,2017,1,1,0,30,2017-01-01 00:30:00,6462.14,QLD1,Brisbane Archerfield Airport,2017-01-01 00:30:00,26.3,6266.067652
2,2016123018,73,6016.45,2016-12-30 12:31:25,2017,1,1,1,0,2017-01-01 01:00:00,6352.82,QLD1,Brisbane Archerfield Airport,2017-01-01 01:00:00,26.0,6204.191526
3,2016123018,74,5859.23,2016-12-30 12:31:25,2017,1,1,1,30,2017-01-01 01:30:00,6261.02,QLD1,Brisbane Archerfield Airport,2017-01-01 01:30:00,25.2,5938.100769
4,2016123018,75,5767.15,2016-12-30 12:31:25,2017,1,1,2,0,2017-01-01 02:00:00,6169.66,QLD1,Brisbane Archerfield Airport,2017-01-01 02:00:00,25.5,5942.465631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73736,2021031618,67,6662.64,2021-03-16 12:31:57,2021,3,17,22,0,2021-03-17 22:00:00,6443.62,QLD1,Brisbane Archerfield Airport,2021-03-17 22:00:00,19.6,6553.152508
73737,2021031618,68,6517.82,2021-03-16 12:31:57,2021,3,17,22,30,2021-03-17 22:30:00,6264.63,QLD1,Brisbane Archerfield Airport,2021-03-17 22:30:00,19.5,6400.160434
73738,2021031618,69,6367.07,2021-03-16 12:31:57,2021,3,17,23,0,2021-03-17 23:00:00,6144.16,QLD1,Brisbane Archerfield Airport,2021-03-17 23:00:00,19.4,6281.601554
73739,2021031618,70,6165.05,2021-03-16 12:31:57,2021,3,17,23,30,2021-03-17 23:30:00,5897.64,QLD1,Brisbane Archerfield Airport,2021-03-17 23:30:00,19.6,6123.934845
73740,2021031618,71,5966.57,2021-03-16 12:31:57,2021,3,18,0,0,2021-03-18 00:00:00,5737.03,QLD1,Brisbane Archerfield Airport,2021-03-18 00:00:00,19.5,5718.654174

In [58]:
df_qld_merged['Error_Lin_Reg'] = df_qld_merged['PREDICTED_DEMAND_LIN_REG'] - df_qld_merged['TOTALDEMAND']

df_qld_merged['Error_Ratio_Lin_Reg'] = df_qld_merged['Error_Lin_Reg'] / df_qld_merged['PREDICTED_DEMAND_LIN_REG']

df_qld_merged

,PREDISPATCHSEQNO,PERIODID,FORECASTDEMAND,LASTCHANGED,YEAR,MONTH,DAY,HOUR,MINUTE,DATETIME_y,TOTALDEMAND,REGIONID_y,LOCATION,DATETIME,TEMPERATURE,PREDICTED_DEMAND_LIN_REG,Error_Lin_Reg,Error_Ratio_Lin_Reg
0,2016123018,71,6425.36,2016-12-30 12:31:25,2017,1,1,0,0,2017-01-01 00:00:00,6728.99,QLD1,Brisbane Archerfield Airport,2017-01-01 00:00:00,26.5,6467.008560,-261.981440,-0.040510
1,2016123018,72,6193.34,2016-12-30 12:31:25,2017,1,1,0,30,2017-01-01 00:30:00,6462.14,QLD1,Brisbane Archerfield Airport,2017-01-01 00:30:00,26.3,6266.067652,-196.072348,-0.031291
2,2016123018,73,6016.45,2016-12-30 12:31:25,2017,1,1,1,0,2017-01-01 01:00:00,6352.82,QLD1,Brisbane Archerfield Airport,2017-01-01 01:00:00,26.0,6204.191526,-148.628474,-0.023956
3,2016123018,74,5859.23,2016-12-30 12:31:25,2017,1,1,1,30,2017-01-01 01:30:00,6261.02,QLD1,Brisbane Archerfield Airport,2017-01-01 01:30:00,25.2,5938.100769,-322.919231,-0.054381
4,2016123018,75,5767.15,2016-12-30 12:31:25,2017,1,1,2,0,2017-01-01 02:00:00,6169.66,QLD1,Brisbane Archerfield Airport,2017-01-01 02:00:00,25.5,5942.465631,-227.194369,-0.038232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73736,2021031618,67,6662.64,2021-03-16 12:31:57,2021,3,17,22,0,2021-03-17 22:00:00,6443.62,QLD1,Brisbane Archerfield Airport,2021-03-17 22:00:00,19.6,6553.152508,109.532508,0.016714
73737,2021031618,68,6517.82,2021-03-16 12:31:57,2021,3,17,22,30,2021-03-17 22:30:00,6264.63,QLD1,Brisbane Archerfield Airport,2021-03-17 22:30:00,19.5,6400.160434,135.530434,0.021176
73738,2021031618,69,6367.07,2021-03-16 12:31:57,2021,3,17,23,0,2021-03-17 23:00:00,6144.16,QLD1,Brisbane Archerfield Airport,2021-03-17 23:00:00,19.4,6281.601554,137.441554,0.021880
73739,2021031618,70,6165.05,2021-03-16 12:31:57,2021,3,17,23,30,2021-03-17 23:30:00,5897.64,QLD1,Brisbane Archerfield Airport,2021-03-17 23:30:00,19.6,6123.934845,226.294845,0.036953
73740,2021031618,71,5966.57,2021-03-16 12:31:57,2021,3,18,0,0,2021-03-18 00:00:00,5737.03,QLD1,Brisbane Archerfield Airport,2021-03-18 00:00:00,19.5,5718.654174,-18.375826,-0.003213

In [59]:
average_error = df_qld_merged['Error_Lin_Reg'].mean()
average_error_ratio = df_qld_merged['Error_Ratio_Lin_Reg'].mean()
std_error = df_qld_merged['Error_Lin_Reg'].std()
std_error_ratio = df_qld_merged['Error_Ratio_Lin_Reg'].std()

print(f'Average Error: {average_error}')
print(f'Average Error Ratio: {average_error_ratio}')
print(f'Standard Deviation of Error: {std_error}')
print(f'Standard Deviation of Error Ratio: {std_error_ratio}')

Average Error: -0.8671666032305542
Average Error Ratio: 3.451832467815065e-05
Standard Deviation of Error: 277.11573209775116
Standard Deviation of Error Ratio: 0.04384560057273204

In [60]:
df_qld_merged[['Error_Lin_Reg','Error_Ratio_Lin_Reg']].describe()

       Error_Lin_Reg  Error_Ratio_Lin_Reg
count   73741.000000         73741.000000
mean       -0.867167             0.000035
std       277.115732             0.043846
min     -1819.475226            -0.292405
25%      -146.422201            -0.023678
50%         5.966069             0.000962
75%       148.880491             0.024513
max      1728.868293             0.241488

In [80]:
df_qld_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73741 entries, 0 to 73740
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   PREDISPATCHSEQNO          73741 non-null  int64
 1   PERIODID                  73741 non-null  int64
 2   FORECASTDEMAND            73741 non-null  float64
 3   LASTCHANGED               73741 non-null  object
 4   YEAR                      73741 non-null  int32
 5   MONTH                     73741 non-null  int32
 6   DAY                       73741 non-null  int32
 7   HOUR                      73741 non-null  int32
 8   MINUTE                    73741 non-null  int32
 9   DATETIME_y                73741 non-null  datetime64[ns]
 10  TOTALDEMAND               73741 non-null  float64
 11  REGIONID_y                73741 non-null  object
 12  LOCATION                  73741 non-null  object
 13  DATETIME                  73741 non-null  datetime64[ns]
 14  TEMPERATURE               73741 non-null  float64
 15  PREDICTED_DEMAND_LIN_REG  73741 non-null  float64
 16  Error_Lin_Reg             73741 non-null  float64
 17  Error_Ratio_Lin_Reg       73741 non-null  float64
 18  PREDICTED_DEMAND_NN       73741 non-null  float64
 19  Error_NN                  73741 non-null  float64
 20  Error_Prof                73741 non-null  float64
 21  Error_Ratio_Prof          73741 non-null  float64
 22  Error_Ratio_NN            73741 non-null  float64
 23  Cooling                   73741 non-null  float64
 24  Heating                   73741 non-null  float64
dtypes: datetime64[ns](2), float64(13), int32(5), int64(2), object(3)
memory usage: 12.7+ MB

## Creating a NN based onthe intra day data

In [61]:
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', MLPRegressor(hidden_layer_sizes=(100, 50), activation='relu', solver='adam', max_iter=1000, random_state=42))
])

X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 47689.926641409256
R^2 Score: 0.9403685466478069

In [67]:
df_qld_merged['PREDICTED_DEMAND_NN'] = pipeline.predict(X)

df_qld_merged['Error_NN'] = df_qld_merged['PREDICTED_DEMAND_NN'] - df_qld_merged['TOTALDEMAND']

df_qld_merged['Error_Ratio_NN'] = df_qld_merged['Error_NN'] / df_qld_merged['PREDICTED_DEMAND_NN']

df_qld_merged

,PREDISPATCHSEQNO,PERIODID,FORECASTDEMAND,LASTCHANGED,YEAR,MONTH,DAY,HOUR,MINUTE,DATETIME_y,...,PREDICTED_DEMAND_LIN_REG,Error_Lin_Reg,Error_Ratio_Lin_Reg,PREDICTED_DEMAND_NN,Error_NN,Error Ratio_NN,Error_Prof,Error Ratio_Prof,Error_Ratio_Prof,Error_Ratio_NN
0,2016123018,71,6425.36,2016-12-30 12:31:25,2017,1,1,0,0,2017-01-01 00:00:00,...,6467.008560,-261.981440,-0.040510,6443.699215,-285.290785,-0.044274,-303.63,-0.047255,-0.047255,-0.044274
1,2016123018,72,6193.34,2016-12-30 12:31:25,2017,1,1,0,30,2017-01-01 00:30:00,...,6266.067652,-196.072348,-0.031291,6385.279484,-76.860516,-0.012037,-268.80,-0.043401,-0.043401,-0.012037
2,2016123018,73,6016.45,2016-12-30 12:31:25,2017,1,1,1,0,2017-01-01 01:00:00,...,6204.191526,-148.628474,-0.023956,6119.733590,-233.086410,-0.038088,-336.37,-0.055908,-0.055908,-0.038088
3,2016123018,74,5859.23,2016-12-30 12:31:25,2017,1,1,1,30,2017-01-01 01:30:00,...,5938.100769,-322.919231,-0.054381,6050.194284,-210.825716,-0.034846,-401.79,-0.068574,-0.068574,-0.034846
4,2016123018,75,5767.15,2016-12-30 12:31:25,2017,1,1,2,0,2017-01-01 02:00:00,...,5942.465631,-227.194369,-0.038232,5830.629761,-339.030239,-0.058146,-402.51,-0.069794,-0.069794,-0.058146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73736,2021031618,67,6662.64,2021-03-16 12:31:57,2021,3,17,22,0,2021-03-17 22:00:00,...,6553.152508,109.532508,0.016714,6730.312590,286.692590,0.042597,219.02,0.032873,0.032873,0.042597
73737,2021031618,68,6517.82,2021-03-16 12:31:57,2021,3,17,22,30,2021-03-17 22:30:00,...,6400.160434,135.530434,0.021176,6550.636123,286.006123,0.043661,253.19,0.038846,0.038846,0.043661
73738,2021031618,69,6367.07,2021-03-16 12:31:57,2021,3,17,23,0,2021-03-17 23:00:00,...,6281.601554,137.441554,0.021880,6490.449009,346.289009,0.053354,222.91,0.035010,0.035010,0.053354
73739,2021031618,70,6165.05,2021-03-16 12:31:57,2021,3,17,23,30,2021-03-17 23:30:00,...,6123.934845,226.294845,0.036953,6296.984769,399.344769,0.063418,267.41,0.043375,0.043375,0.063418
73740,2021031618,71,5966.57,2021-03-16 12:31:57,2021,3,18,0,0,2021-03-18 00:00:00,...,5718.654174,-18.375826,-0.003213,6073.873094,336.843094,0.055458,229.54,0.038471,0.038471,0.055458

In [77]:
df_qld_merged['Error_Prof'] = df_qld_merged['FORECASTDEMAND'] - df_qld_merged['TOTALDEMAND']

df_qld_merged['Error_Ratio_Prof'] = df_qld_merged['Error_Prof'] / df_qld_merged['FORECASTDEMAND']

df_qld_merged

,PREDISPATCHSEQNO,PERIODID,FORECASTDEMAND,LASTCHANGED,YEAR,MONTH,DAY,HOUR,MINUTE,DATETIME_y,...,PREDICTED_DEMAND_LIN_REG,Error_Lin_Reg,Error_Ratio_Lin_Reg,PREDICTED_DEMAND_NN,Error_NN,Error_Prof,Error_Ratio_Prof,Error_Ratio_NN,Cooling,Heating
0,2016123018,71,6425.36,2016-12-30 12:31:25,2017,1,1,0,0,2017-01-01 00:00:00,...,6467.008560,-261.981440,-0.040510,6443.699215,-285.290785,-303.63,-0.047255,-0.044274,2.5,0.0
1,2016123018,72,6193.34,2016-12-30 12:31:25,2017,1,1,0,30,2017-01-01 00:30:00,...,6266.067652,-196.072348,-0.031291,6385.279484,-76.860516,-268.80,-0.043401,-0.012037,2.3,0.0
2,2016123018,73,6016.45,2016-12-30 12:31:25,2017,1,1,1,0,2017-01-01 01:00:00,...,6204.191526,-148.628474,-0.023956,6119.733590,-233.086410,-336.37,-0.055908,-0.038088,2.0,0.0
3,2016123018,74,5859.23,2016-12-30 12:31:25,2017,1,1,1,30,2017-01-01 01:30:00,...,5938.100769,-322.919231,-0.054381,6050.194284,-210.825716,-401.79,-0.068574,-0.034846,1.2,0.0
4,2016123018,75,5767.15,2016-12-30 12:31:25,2017,1,1,2,0,2017-01-01 02:00:00,...,5942.465631,-227.194369,-0.038232,5830.629761,-339.030239,-402.51,-0.069794,-0.058146,1.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73736,2021031618,67,6662.64,2021-03-16 12:31:57,2021,3,17,22,0,2021-03-17 22:00:00,...,6553.152508,109.532508,0.016714,6730.312590,286.692590,219.02,0.032873,0.042597,0.0,0.4
73737,2021031618,68,6517.82,2021-03-16 12:31:57,2021,3,17,22,30,2021-03-17 22:30:00,...,6400.160434,135.530434,0.021176,6550.636123,286.006123,253.19,0.038846,0.043661,0.0,0.5
73738,2021031618,69,6367.07,2021-03-16 12:31:57,2021,3,17,23,0,2021-03-17 23:00:00,...,6281.601554,137.441554,0.021880,6490.449009,346.289009,222.91,0.035010,0.053354,0.0,0.6
73739,2021031618,70,6165.05,2021-03-16 12:31:57,2021,3,17,23,30,2021-03-17 23:30:00,...,6123.934845,226.294845,0.036953,6296.984769,399.344769,267.41,0.043375,0.063418,0.0,0.4
73740,2021031618,71,5966.57,2021-03-16 12:31:57,2021,3,18,0,0,2021-03-18 00:00:00,...,5718.654174,-18.375826,-0.003213,6073.873094,336.843094,229.54,0.038471,0.055458,0.0,0.5

In [71]:
df_qld_merged[['Error_Ratio_NN','Error_NN','Error_Lin_Reg','Error_Ratio_Lin_Reg', 'Error_Prof','Error_Ratio_Prof']].describe()

,Error_Ratio_NN,Error_NN,Error_Lin_Reg,Error_Ratio_Lin_Reg,Error_Prof,Error_Ratio_Prof
count,73741.000000,73741.000000,73741.000000,73741.000000,73741.000000,73741.000000
mean,-0.001123,-5.028054,-0.867167,0.000035,-9.195399,-0.001591
std,0.033776,212.122609,277.115732,0.043846,158.560838,0.025200
min,-0.278012,-1749.396849,-1819.475226,-0.292405,-918.000000,-0.187521
25%,-0.018622,-112.406247,-146.422201,-0.023678,-92.740000,-0.015082
50%,-0.001473,-9.132976,5.966069,0.000962,-3.060000,-0.000509
75%,0.016272,100.861857,148.880491,0.024513,81.200000,0.013414
max,0.208154,1341.495715,1728.868293,0.241488,1170.470000,0.149933

In [72]:
mape = (df_qld_merged['Error_NN'].abs() / df_qld_merged['TOTALDEMAND'].abs()).mean() * 100

print(f'MAPE: {mape}%')

MAPE: 2.4163070761505008%

# Creating a stacked model using GBM, Lin Reg and MLP to see if we can get better performance than the NN Alone

In [84]:
numerical_features = ['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'TEMPERATURE', 'Heating', 'Cooling']
categorical_features = ['season']
binary_features = ['is_weekend']

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features),
        ('bin', 'passthrough', binary_features)
    ])

X = df_qld_merged.drop(['TOTALDEMAND'], axis=1)
y = df_qld_merged['TOTALDEMAND']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


base_models = [
    ('lr', Pipeline([('preprocessor', clone(preprocessor)),
                     ('regressor', LinearRegression())])),
    ('gbm', Pipeline([('preprocessor', clone(preprocessor)),
                      ('regressor', GradientBoostingRegressor(random_state=42))])),
    ('mlp', Pipeline([('preprocessor', clone(preprocessor)),
                      ('regressor', MLPRegressor(hidden_layer_sizes=(100, 50), 
                                                 activation='relu', 
                                                 solver='adam', 
                                                 max_iter=1000, 
                                                 random_state=42))]))
]

stacked_model = StackingRegressor(
    estimators=base_models,
    final_estimator=LinearRegression()
)

stacked_model.fit(X_train, y_train)

y_pred = stacked_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

Mean Squared Error: 47551.56089948641
R^2 Score: 0.9405415590817965

In [85]:
X = df_qld_merged.drop(['TOTALDEMAND'], axis=1, errors='ignore')

df_qld_merged['PREDICTED_DEMAND_STACKED'] = stacked_model.predict(X)

df_qld_merged['Error_Rate_Stacked'] = df_qld_merged['PREDICTED_DEMAND_STACKED'] - df_qld_merged['TOTALDEMAND']

df_qld_merged['Error_Ratio_Stacked'] = df_qld_merged['Error_Rate_Stacked'] / df_qld_merged['PREDICTED_DEMAND_STACKED']

print(df_qld_merged[['TOTALDEMAND', 'PREDICTED_DEMAND_STACKED', 'Error_Rate_Stacked', 'Error_Ratio_Stacked']].head())

   TOTALDEMAND  PREDICTED_DEMAND_STACKED  Error_Rate_Stacked  \
0      6728.99               6441.371187         -287.618813
1      6462.14               6377.152200          -84.987800
2      6352.82               6113.456137         -239.363863
3      6261.02               6044.721415         -216.298585
4      6169.66               5824.483367         -345.176633

   Error_Ratio_Stacked
0            -0.044652
1            -0.013327
2            -0.039154
3            -0.035783
4            -0.059263

In [86]:
df_qld_merged[['Error_Ratio_NN','Error_NN','Error_Lin_Reg','Error_Ratio_Lin_Reg', 'Error_Prof','Error_Ratio_Prof','Error_Rate_Stacked','Error_Ratio_Stacked']].describe()

,Error_Ratio_NN,Error_NN,Error_Lin_Reg,Error_Ratio_Lin_Reg,Error_Prof,Error_Ratio_Prof,Error_Rate_Stacked,Error_Ratio_Stacked
count,73741.000000,73741.000000,73741.000000,73741.000000,73741.000000,73741.000000,73741.000000,73741.000000
mean,-0.001123,-5.028054,-0.867167,0.000035,-9.195399,-0.001591,-0.113537,-0.000257
std,0.033776,212.122609,277.115732,0.043846,158.560838,0.025200,212.229883,0.033735
min,-0.278012,-1749.396849,-1819.475226,-0.292405,-918.000000,-0.187521,-1765.935786,-0.281379
25%,-0.018622,-112.406247,-146.422201,-0.023678,-92.740000,-0.015082,-106.179147,-0.017544
50%,-0.001473,-9.132976,5.966069,0.000962,-3.060000,-0.000509,-3.672314,-0.000601
75%,0.016272,100.861857,148.880491,0.024513,81.200000,0.013414,105.095019,0.017011
max,0.208154,1341.495715,1728.868293,0.241488,1170.470000,0.149933,1359.677427,0.207656

# Using GridSearch to find the best hyper parameters for the NN

In [43]:
numerical_features = ['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'TEMPERATURE', 'Heating', 'Cooling']
categorical_features = ['season']
binary_features = ['is_weekend']


X = df_qld_merged.drop('TOTALDEMAND', axis=1)
y = df_qld_merged['TOTALDEMAND']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(), categorical_features),
        ('bin', 'passthrough', binary_features)
    ])

pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', MLPRegressor(max_iter=1000, random_state=42))
])


param_grid = {
    'regressor__hidden_layer_sizes': [(64, 32), (100,), (50, 50), (100, 50)],
    'regressor__activation': ['tanh', 'relu'],
    'regressor__solver': ['sgd', 'adam'],
    'regressor__alpha': [0.0001, 0.05],
}

grid_search = GridSearchCV(estimator=pipeline, param_grid=param_grid, cv=3, n_jobs=-1, scoring='r2')
grid_search.fit(X_train, y_train)

print("Best parameters found:", grid_search.best_params_)
print("Best cross-validation R^2 score:", grid_search.best_score_)

y_pred = grid_search.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error on Test Set: {mse}')
print(f'R^2 Score on Test Set: {r2}')

/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
16 fits failed out of a total of 96.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
16 fits failed with the following error:
Traceback (most recent call last):
  File "/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py", line 1152, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/pipeline.py", line 427, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py", line 1152, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 753, in fit
    return self._fit(X, y, incremental=False)
  File "/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py", line 496, in _fit
    raise ValueError(
ValueError: Solver produced non-finite parameter weights. The input data may contain large values and need to be preprocessed.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_search.py:979: UserWarning: One or more of the test scores are non-finite: [ 2.55117659e-01 -8.92836237e-05  8.43703032e-01 -5.91134081e-05
  4.29186198e-01 -5.87674183e-05  3.49280877e-01 -5.97123084e-05
  1.04073981e-01 -8.98280144e-05  8.23624466e-01 -5.91264954e-05
  4.09737615e-01 -5.87708963e-05  2.58439394e-01 -5.97211433e-05
             nan  9.21338212e-01             nan  8.92074768e-01
             nan  9.19428442e-01             nan  9.29310945e-01
             nan  9.23066947e-01             nan  8.82920135e-01
             nan  9.18625483e-01             nan  9.31755215e-01]
  warnings.warn(

Best parameters found: {'regressor__activation': 'relu', 'regressor__alpha': 0.05, 'regressor__hidden_layer_sizes': (100, 50), 'regressor__solver': 'adam'}
Best cross-validation R^2 score: 0.9317552152832554
Mean Squared Error on Test Set: 50861.07891938502
R^2 Score on Test Set: 0.9364033398954732

/Users/joshuaevans/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

# Importing Public Holiday Data as another predictive Feature

In [4]:
file_path = '../data/public_holidays/Aus_public_hols_2009-2022-1.csv'
try:
    public_holidays = pd.read_csv(file_path, encoding='utf-8')
except UnicodeDecodeError:
    public_holidays = pd.read_csv(file_path, encoding='latin1')

In [5]:
public_holidays

            Date State   Weekday  Day_In_Lieu  Part_Day_From
0     2009-01-01   ACT  Thursday            0              0
1     2009-01-01   NSW  Thursday            0              0
2     2009-01-01    NT  Thursday            0              0
3     2009-01-01   QLD  Thursday            0              0
4     2009-01-01    SA  Thursday            0              0
...          ...   ...       ...          ...            ...
1401  2022-12-27   TAS   Tuesday            1              0
1402  2022-12-27   VIC   Tuesday            1              0
1403  2022-12-27    WA   Tuesday            1              0
1404  2022-12-31    NT  Saturday            0              7
1405  2022-12-31    SA  Saturday            0              7

[1406 rows x 5 columns]

In [7]:
public_holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1406 entries, 0 to 1405
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1406 non-null   object
 1   State          1406 non-null   object
 2   Weekday        1406 non-null   object
 3   Day_In_Lieu    1406 non-null   int64
 4   Part_Day_From  1406 non-null   int64
dtypes: int64(2), object(3)
memory usage: 55.0+ KB