# 1. Description of Data

Following Datasets are used for this research.

1. Total Electricity Demand NSW
2. Air Temperature NSW
3. NSW Calendar
4. Total Forecast Demand NSW


### **1. Total Electricy Demand NSW**

Total Electricity Demand in 30 min increments. This data is sourced from the Market Management System database, which is published by the market operator from the National Electricity Market (NEM) system. 

<table style='float:left'>
    <tbody>
        <tr>
        <td>
        <p><strong>Row Count</strong></p>
        </td>
        <td>
        <p><strong>File Size (Approx)</strong></p>
        </td>
        <td>
        <p><strong>File Format</strong></p>
        </td>
        <td>
        <p><strong>File Name</strong></p>
        </td>
        </tr>
        <tr>
        <td>
        <p>196513</p>
        </td>
        <td>
        <p>5.6 MB</p>
        </td>
        <td>
        <p>CSV</p>
        </td>
        <td>
        <p>totaldemand_nsw.csv</p>
        </td>
        </tr>
    </tbody>
</table>

<table style='float:left'>
<tbody>
<tr>
<td>
<p><strong>Attributes</strong></p>
</td>
<td width="284">
<p><strong>Description</strong></p>
</td>
<td width="138">
<p><strong>Attribute Characteristics</strong></p>
</td>
</tr>
<tr>
<td>
<p>DATETIME</p>
</td>
<td width="284">
<p>Date and time interval of each observation. Format (dd/mm/yyyy hh:mm)</p>
</td>
<td width="138">
<p>Timestamp</p>
</td>
</tr>
<tr>
<td>
<p>TOTALDEMAND</p>
</td>
<td width="284">
<p>Total demand in MW</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>
<tr>
<td>
<p>REGIONID</p>
</td>
<td width="284">
<p>Region Identifier (i.e. NSW1)</p>
</td>
<td width="138">
<p>String.</p>
<p>Categorical</p>
</td>
</tr>
</tbody>
</table>

### **2. Air Temperature NSW**

Air temperature in NSW (as measured from the Bankstown Airport weather station). This data is sourced from the Australian Data Archive for Meteorology. Note: Unlike the total demand and forecast demand, the time interval between each observation may not be constant (i.e. half-hourly data). As noted in the literature review, temperature is a key driver of demand. Therefore, this dataset is critically important for the research question

<table style='float:left'>
<tbody>
<tr>
<td>
<p><strong>Row Count</strong></p>
</td>
<td>
<p><strong>File Size (Approx)</strong></p>
</td>
<td>
<p><strong>File Format</strong></p>
</td>
<td>
<p><strong>File Name</strong></p>
</td>
</tr>
<tr>
<td>
<p>220326</p>
</td>
<td>
<p>6.7 MB</p>
</td>
<td>
<p>CSV</p>
</td>
<td>
<p>temperature_nsw.csv</p>
</td>
</tr>
</tbody>
</table>

<table style='float:left'>
<tbody>
<tr>
<td>
<p><strong>Attributes</strong></p>
</td>
<td width="288">
<p><strong>Description</strong></p>
</td>
<td width="138">
<p><strong>Attribute Characteristics</strong></p>
</td>
</tr>
<tr>
<td>
<p>DATETIME</p>
</td>
<td width="288">
<p>Date and time interval of each observation. Format (dd/mm/yyyy hh:mm)</p>
</td>
<td width="138">
<p>Timestamp</p>
</td>
</tr>
<tr>
<td>
<p>TEMPERATURE</p>
</td>
<td width="288">
<p>Air temperature (&deg;C)</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>
<tr>
<td>
<p>LOCATION</p>
</td>
<td width="288">
<p>Location of a weather station (i.e., Bankstown weather station)</p>
</td>
<td width="138">
<p>String</p>
<p>Categorical</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

### **3. NSW Calendar**

Create NSW Calendar to include holidays, seasons, weekends.

<table style='float:left'>
<tbody>
<tr>
<td>
<p><strong>Attributes</strong></p>
</td>
<td width="288">
<p><strong>Description</strong></p>
</td>
<td width="138">
<p><strong>Attribute Characteristics</strong></p>
</td>
</tr>
<tr>
<td>
<p>DATETIME</p>
</td>
<td width="288">
<p>Date and time interval of each observation. Generated through Python library</p>
</td>
<td width="138">
<p>Timestamp</p>
</td>
</tr>
<tr>
<td>
<p>HOLIDAY</p>
</td>
<td width="288">
<p>Marked 1 if public holiday in NSW, otherwise 0. Generated using 'holidays' Python library</p>
<p>Sourced from the python library https://pypi.org/project/holidays/</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>
<tr>
<td>
<p>SUMMER</p>
</td>
<td width="288">
<p>Marked 1 if the month is in Summer season, else 0.</p>
<p>Use one hot encoding</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>
    
<tr>
<td>
<p>AUTUMN</p>
</td>
<td width="288">
<p>Marked 1 if the month is in Autumn season, else 0</p>
<p>Use one hot encoding</p>    
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>

    
<tr>
<td>
<p>WINTER</p>
</td>
<td width="288">
<p>Marked 1 if the month is in Winter season, else 0</p>
<p>Use one hot encoding</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>

<tr>
<td>
<p>SPRING</p>
</td>
<td width="288">
<p>Marked 1 if the month is in Spring season, else 0</p>
<p>Use one hot encoding</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>

<tr>
<td>
<p>WEEKDAY</p>
</td>
<td width="288">
<p>Marked 1 if day of week is between Monday to Friday, else 0</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>
<tr>
<td>
<p>DAYOFWEEK</p>
</td>
<td width="288">
<p>Marked 1 to 7 to indicate day of week</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>

<tr>
<td>
<p>MONTH</p>
</td>
<td width="288">
<p>Month of the Year</p>
</td>
<td width="138">
<p>Numeric</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

### **4. Total Forecast Demand NSW**

Forecast demand in half-hourly increments for NSW. Data also sourced from the Market Management System database. 
This dataset would be valuable for us to validate the outcome of our model. Especially to understand the accuracy.

<table style='float:left'>
<tbody>
<tr>
<td>
<p><strong>Row Count</strong></p>
</td>
<td>
<p><strong>File Size (Approx)</strong></p>
</td>
<td>
<p><strong>File Format</strong></p>
</td>
<td>
<p><strong>File Name</strong></p>
</td>
</tr>
<tr>
<td>
<p>10906019</p>
</td>
<td>
<p>722 MB</p>
</td>
<td>
<p>CSV</p>
</td>
<td>
<p>forecastdemand_nsw.csv</p>
</td>
</tr>
</tbody>
</table>

<table  style='float:left'>
<tbody>
<tr>
<td>
<p><strong>Attributes</strong></p>
</td>
<td width="256">
<p><strong>Description</strong></p>
</td>
<td width="129">
<p><strong>Attribute Characteristics</strong></p>
</td>
</tr>
<tr>
<td>
<p>DATETIME</p>
</td>
<td width="256">
<p>Date and time interval of each observation. Format (dd/mm/yyyy hh:mm)</p>
</td>
<td width="129">
<p>Timestamp</p>
</td>
</tr>
<tr>
<td>
<p>FORECASTDEMAND</p>
</td>
<td width="256">
<p>Forecast demand in MW</p>
</td>
<td width="129">
<p>Numeric</p>
</td>
</tr>
<tr>
<td>
<p>REGIONID</p>
</td>
<td width="256">
<p>Region Identifier (i.e. NSW1)</p>
</td>
<td width="129">
<p>String</p>
<p>Categorical</p>
</td>
</tr>
<tr>
<td>
<p>PREDISTPATCHSEQNO</p>
</td>
<td width="256">
<p>Unique identifier of predispatch run (YYYYMMDDPP). In energy generation, &ldquo;dispatch&rdquo; refers to process of sending out energy to the power grid to meet energy demand. &ldquo;Predispatch&rdquo; then is an estimated forecast of this amount.</p>
</td>
<td width="129">
<p>String (Identifier)</p>
</td>
</tr>
<tr>
<td>
<p>PERIODID</p>
</td>
<td width="256">
<p>Period count, starting from 1 for each predispatch run.</p>
</td>
<td width="129">
<p>Numeric (Integer)</p>
</td>
</tr>
<tr>
<td>
<p>LASTCHANGE</p>
</td>
<td width="256">
<p>Date time interval of each update of the observation (dd/mm/yyyy hh:mm)</p>
</td>
<td width="129">
<p>Timestamp</p>
</td>
</tr>
</tbody>
</table>

# 2. Pre-processing Steps

### 1. Merge zip files

Total Forecast demand dataset is split to two zip files. This needs to be merged prior to consumption.

In [1]:
import platform as pt
# If OS is WINDOWS
if pt.system() == 'Windows':
    !type ..\data\NSW\forecastdemand_nsw.csv.zip.parta* > ..\data\NSW\forecastdemand_nsw.csv.zip
else:
# If OS is Apple/Unix based
    !cat ..\data\NSW\forecastdemand_nsw.csv.zip.parta* > ..\data\NSW\forecastdemand_nsw.csv.zip

..\data\NSW\forecastdemand_nsw.csv.zip.partaa



..\data\NSW\forecastdemand_nsw.csv.zip.partab

### 2. Read zip files

Since all the CSV files are zipped, instead of unzipping the files, we will read the zipped file content into a dataframe for subsequent processing. This is more efficient as the code will execute across multiple Operating Systems

In [2]:
import pandas as pd
import zipfile as zp

zf_td = zp.ZipFile(r'..\data\NSW\totaldemand_nsw.csv.zip')
df_td = pd.read_csv(zf_td.open('totaldemand_nsw.csv'))

zf_tp = zp.ZipFile(r'..\data\NSW\temperature_nsw.csv.zip')
df_tp = pd.read_csv(zf_tp.open('temperature_nsw.csv'))

zf_fd = zp.ZipFile(r'..\data\NSW\forecastdemand_nsw.csv.zip')
df_fd = pd.read_csv(zf_fd.open('forecastdemand_nsw.csv'))

# 3. Data Cleaning

### **1. Total Electricy Demand NSW**

---
#### Describe the dataset

In [3]:
# No of rows and columns
print('\nNo of rows and columns: ', df_td.shape)

# Columns and datatypes
print('\nColumns and datatypes')
print(df_td.dtypes)

# Describe the data
print('\nStatistics')
print(df_td.describe())

No of rows and columns:  (196513, 3)

Columns and datatypes
DATETIME        object
TOTALDEMAND    float64
REGIONID        object
dtype: object

Statistics
         TOTALDEMAND
count  196513.000000
mean     8113.145859
std      1299.532774
min      5074.630000
25%      7150.070000
50%      8053.230000
75%      8958.550000
max     14579.860000

---
#### Remove unused columns

As REGIONID is not useful for the research question, it is removed.

In [4]:
print(df_td['REGIONID'].unique())

df_td = df_td.drop(['REGIONID'], axis=1)

['NSW1']

---
#### Validate Null Values

In [5]:
df_td.isnull().sum()

DATETIME       0
TOTALDEMAND    0
dtype: int64

---
#### Validate Duplicate Rows


Check for duplicated timestamps

In [6]:
df_td.duplicated(subset=['DATETIME']).sum()

0

---
#### Validate Missing Data


a) Validate whether dates are missing between minimum date and maximum date

In [7]:
# Convert to DateTime datatype
df_td['DATETIME'] = pd.to_datetime(df_td['DATETIME'], format='%d/%m/%Y %H:%M')
df_td_val = df_td.copy()
df_td_val['DATE'] = df_td_val['DATETIME'].dt.date

# Find minimum and maximum values
min_date = df_td_val['DATE'].min()
max_date = df_td_val['DATE'].max()

print("Minimum Date: ", min_date)
print("Maximum Date: ", max_date)

# generate all the dates in the calendar from min date to max date
df_cal = pd.DataFrame({"Calendar_Date": pd.date_range(min_date, max_date)})

print(pd.date_range(min_date, max_date).difference(df_td_val['DATE']).to_series().count())

Minimum Date:  2010-01-01
Maximum Date:  2021-03-18
0

b) Validate if demand is recorded consistently for each date.

Since demand is recorded every 30mins, each day should consist of 48 rows.

In [8]:
df_td_val['TIME'] = df_td['DATETIME'].dt.time
df_gp = df_td_val.groupby('DATE').filter(lambda x: x['TIME'].count() != 48)
print(df_gp)

         DATETIME  TOTALDEMAND        DATE      TIME
196512 2021-03-18      7094.51  2021-03-18  00:00:00

It seems the last date has only one record. Hence this should be excluded to ensure consistency.

In [9]:
df_td = df_td.drop(df_td[df_td['DATETIME'] == '2021-03-18 00:00:00'].index)


---
### **2. Air Temperature NSW**

---
#### Describe the dataset

In [10]:
# No of rows and columns
print('\nNo of rows and columns: ', df_tp.shape)

# Columns and datatypes
print('\nColumns and datatypes')
print(df_tp.dtypes)

# Describe the data
print('\nStatistics:')
print(df_tp.describe())

No of rows and columns:  (220326, 3)

Columns and datatypes
LOCATION        object
DATETIME        object
TEMPERATURE    float64
dtype: object

Statistics:
         TEMPERATURE
count  220326.000000
mean       17.418827
std         5.849763
min        -1.300000
25%        13.400000
50%        17.700000
75%        21.300000
max        44.700000

---
#### Remove unused columns

As LOCATION is not useful for the research question, it is removed.

In [11]:
print(df_tp['LOCATION'].unique())

df_tp = df_tp.drop(['LOCATION'], axis=1)

['Bankstown']

---
#### Validate Null Values

In [12]:
df_tp.isnull().sum()

DATETIME       0
TEMPERATURE    0
dtype: int64

---
#### Validate Duplicate Rows

Check for duplicated timestamps

In [13]:
df_tp.duplicated(subset=['DATETIME']).sum()

13

Drop the duplicate records

In [14]:
df_tp = df_tp.drop_duplicates()

print(df_tp.duplicated().sum())

0

---
#### Validate Missing Data

a) Validate whether dates are missing between minimum date and maximum date

In [15]:
# Convert to DateTime datatype
df_tp['DATETIME'] = pd.to_datetime(df_tp['DATETIME'], format='%d/%m/%Y %H:%M')
df_tp_val = df_tp.copy()
df_tp_val['DATE'] = df_tp['DATETIME'].dt.date

# Find minimum and maximum values
min_date = df_tp_val['DATE'].min()
max_date = df_tp_val['DATE'].max()

print("Minimum Date: ", min_date)
print("Maximum Date: ", max_date)

# generate all the dates in the calendar from min date to max date
df_cal = pd.DataFrame({"Calendar_Date": pd.date_range(min_date, max_date)})

print('Dates Missing: ', pd.date_range(min_date, max_date).difference(df_tp_val['DATE']).to_series().count())

print(pd.date_range(min_date, max_date).difference(df_tp_val['DATE']).to_series())

Minimum Date:  2010-01-01
Maximum Date:  2021-03-18
Dates Missing:  3
2016-07-16   2016-07-16
2016-07-17   2016-07-17
2016-07-18   2016-07-18
dtype: datetime64[ns]

Three dates are missing. This is a very small percentage. The period use for model build should take this to consideration.

b) Validate if temperature is recorded consistently for each date.

Since demand is recorded every 30mins, each day should consist of 48 rows.

In [16]:
df_tp_val['TIME'] = pd.to_datetime(df_tp['DATETIME'], format='%d/%m/%Y %H:%M').dt.time
df_gp = df_tp_val.groupby('DATE').filter(lambda x: x['TIME'].count() != 48)
print(df_gp)

                  DATETIME  TEMPERATURE        DATE      TIME
0      2010-01-01 00:00:00         23.1  2010-01-01  00:00:00
1      2010-01-01 00:01:00         23.1  2010-01-01  00:01:00
2      2010-01-01 00:30:00         22.9  2010-01-01  00:30:00
3      2010-01-01 00:50:00         22.7  2010-01-01  00:50:00
4      2010-01-01 01:00:00         22.6  2010-01-01  01:00:00
...                    ...          ...         ...       ...
220321 2021-03-17 23:00:00         19.1  2021-03-17  23:00:00
220322 2021-03-17 23:20:00         19.0  2021-03-17  23:20:00
220323 2021-03-17 23:30:00         18.8  2021-03-17  23:30:00
220324 2021-03-17 23:34:00         18.8  2021-03-17  23:34:00
220325 2021-03-18 00:00:00         18.6  2021-03-18  00:00:00

[158345 rows x 4 columns]

It seems the temperature readings are not restricted to hour and half hour intervals. 
Therefore lets verify whether every hour and half hour has a temperature reading.
Also it should be noted that for 2021-03-18, there is only one record and it needs to be removed.

Steps:

* Create a half hourly date/time range from minimum date to maximum date - 1 (To exclude 1 record in 2021-03-18)
* Left join temperature dataset to above dataset 
* Find records where temperature is null
* Fill the missing values with fill forward method

In [17]:
# Create half hourly dataset
max_date = max_date - pd.Timedelta(days=1)
rng_hf_hr_cal = pd.date_range(start=min_date, end=max_date , freq='30min')
df_hh_cal = pd.DataFrame(pd.to_datetime(rng_hf_hr_cal), columns=['DATETIME'])

# Convert DATETIME column to datetime format
df_tp['DATETIME'] = pd.to_datetime(df_tp['DATETIME'], format='%d/%m/%Y %H:%M')

# Join the two datasets
df_tp = pd.merge(df_hh_cal, df_tp, on='DATETIME', how='left')

# find records with no temperature
print('Records where Temperature is missing:', df_tp['TEMPERATURE'].isnull().sum())

# fill null records with fill forward method
df_tp['TEMPERATURE'] = df_tp['TEMPERATURE'].fillna(method='ffill')

print('\nRecords where Temperature is missing after filling the missing values:', df_tp['TEMPERATURE'].isnull().sum())

Records where Temperature is missing: 579

Records where Temperature is missing after filling the missing values: 0

---
### **3. NSW Calendar**

Using the python library for holidays lets create a calendar that is inline with the rest of the dataset.
* Install 'holidays' library if it doesnt exist
* Generate date range required and mark dates where it is a holiday in NSW
* Add columns to identify seasons of the year. Use of one hot encoding
* Add other columns such as MONTH, WEEKDAY, etc

In [18]:
!pip install --upgrade holidays

Requirement already satisfied: holidays in d:\users\rishantha\anaconda3\lib\site-packages (0.56)
Requirement already satisfied: python-dateutil in d:\users\rishantha\anaconda3\lib\site-packages (from holidays) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\users\rishantha\anaconda3\lib\site-packages (from python-dateutil->holidays) (1.16.0)

In [19]:
import holidays

df_hd = pd.DataFrame({"DATE": pd.date_range(min_date, max_date)})
df_hd.shape
df_hd['HOLIDAY'] = (df_hd['DATE'].dt.date).apply(lambda x: 1 if x in holidays.Australia(prov='NSW') else 0)

In [20]:
df_hd['SUMMER'] = (df_hd['DATE'].dt.month).apply(lambda x: 1 if x in [12, 1 ,2] else 0)
df_hd['AUTUMN'] = (df_hd['DATE'].dt.month).apply(lambda x: 1 if x in [3, 4 ,5] else 0)
df_hd['WINTER'] = (df_hd['DATE'].dt.month).apply(lambda x: 1 if x in [6, 7 ,8] else 0)
df_hd['SPRING'] = (df_hd['DATE'].dt.month).apply(lambda x: 1 if x in [9, 10 ,11] else 0)

In [21]:
df_hd['MONTH'] = (df_hd['DATE'].dt.month)
df_hd['DAYOFWEEK'] = (df_hd['DATE'].dt.dayofweek)
df_hd['WEEKDAY'] = (df_hd['DATE'].dt.dayofweek).apply(lambda x: 0 if x in [5, 6] else 1)

print(df_hd)

           DATE  HOLIDAY  SUMMER  AUTUMN  WINTER  SPRING  MONTH  DAYOFWEEK  \
0    2010-01-01        1       1       0       0       0      1          4
1    2010-01-02        0       1       0       0       0      1          5
2    2010-01-03        0       1       0       0       0      1          6
3    2010-01-04        0       1       0       0       0      1          0
4    2010-01-05        0       1       0       0       0      1          1
...         ...      ...     ...     ...     ...     ...    ...        ...
4089 2021-03-13        0       0       1       0       0      3          5
4090 2021-03-14        0       0       1       0       0      3          6
4091 2021-03-15        0       0       1       0       0      3          0
4092 2021-03-16        0       0       1       0       0      3          1
4093 2021-03-17        0       0       1       0       0      3          2

      WEEKDAY
0           1
1           0
2           0
3           1
4           1
...       ...
4089        0
4090        0
4091        1
4092        1
4093        1

[4094 rows x 9 columns]

---
### **4. Total Forecast Demand NSW !!! TBC !!!**

---
### **5. Final Dataset preperation**

At completion of the data cleaning, lets cobmine the datasets and prepare the final dataset for exploitory data analysis and subsequent model build.

Additionaly, include 'HOUR' and 'PEAK' feature. Here 'PEAK' is defined as 1 when the Time of the day is between 7:00 AM and 10:00 PM (https://www.canstarblue.com.au/electricity/peak-off-peak-electricity-times/).

Finally, save the dataset to an csv file.

In [22]:
import datetime

df_tmp1 = df_td.merge(df_tp, on='DATETIME')
df_tmp1['DATE'] = pd.to_datetime(df_tmp1['DATETIME'].dt.date)
df_final = df_tmp1.merge(df_hd, on='DATE')
df_final = df_final.drop('DATE', axis=1)
df_final['HOUR'] = df_final['DATETIME'].dt.hour
df_final['PEAK'] = df_final['HOUR'].apply(lambda x: 1 if 7 <= x < 22 else 0)
df_final = df_final.set_index('DATETIME')

df_final.to_csv('../data/final_data_2010_2021.csv')

# 4. Assumptions